.main-price_label {
  font-weight: 800;
  font-size: 12px;
  line-height: 130%;
  letter-spacing: 0.25px;
  margin-bottom: 14px;
}

.main-price_value {
  font-weight: 800;
  font-style: 800;
  font-size: 28px;
  line-height: 100%;
  letter-spacing: 0.5px;

}