<div>
  <ion-header>
    <ion-toolbar>
      <ion-title>{{ stock.stock_name }} {{ stock.price }}</ion-title>
      <ion-buttons slot="end">
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content>

    <div>
      <ion-label>Price</ion-label>
      <div></div>
    </div>

    <div>
      <ion-label>Amount</ion-label>
      <div></div>
    </div>

    <div>
      <ion-label>Shares</ion-label>
      <div></div>
    </div>



  </ion-content>
<ion-button (click)="buyStock(stock)">Buy</ion-button>

</div>