<div>
  <ion-header>
    <ion-toolbar>
      <ion-title>{{ stock.stock_name | slice:0:3 | uppercase }} {{ stock.price | currency }}</ion-title> <ion-buttons
        slot="end">
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true" class="ion-padding">

    <div class="detail-item">
      <ion-label>Price</ion-label>
      <div>{{stock.price}}</div>
    </div>
    <div class="detail-item">
      <ion-label>Amount</ion-label>
      <div> <ion-input label="Default input"></ion-input>
      </div>
    </div>
    <div class="detail-item">
      <ion-label>Shares</ion-label>
      <div> <ion-input label="Default input"></ion-input>
      </div>
    </div>
    <ion-button color="dark" shape="round" expand="block" (click)="buyStock(stock)">Buy</ion-button>
  </ion-content>

</div>