<div id="total-equity" class="component-container">
  <label class="main-price_label">Total equity</label>
  <div class="main-price_value">${{ calculatedHoldings }}</div>
</div>


<section id="holdings" class="component-container" *ngIf="holdings$ | async as holdings">
  <h2 class="sub-heading">Holdings</h2>
  <ion-grid>
    <ion-row>
      <ion-col size="4">
        <ion-label class="grid-header">Stock</ion-label>
      </ion-col>
      <ion-col size="4" class="ion-text-end">
        <ion-label class="grid-header">Price</ion-label>
      </ion-col>
      <ion-col size="4" class="ion-text-end">
        <ion-label class="grid-header">Change</ion-label>
      </ion-col>
    </ion-row>

    <ion-row *ngFor="let stock of holdings">
      <ion-col size="4">
        <ion-label class="body-2">{{ stock.stock }}</ion-label>
        <div class="body-3">{{ stock.numberOfShares }}</div>
      </ion-col>
      <ion-col size="4" class="grid-stock-price ion-text-end">
        <ion-label>{{ stock.price }}</ion-label>
      </ion-col>
      <ion-col size="4" class="grid-stock-change ion-text-end">
        <ion-chip color="success">{{ stock.change | number : '1.2-2' }}</ion-chip>
      </ion-col>
    </ion-row>
  </ion-grid>
</section>